body {
  background-color: #171717;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.service-wrapper,
.equipment-wrapper,
.header-wrapper,
.footer-panel {
  width: 1460px;
  margin: 0 auto;
}

.list-item-span,
.main-service-list-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.main-service-list,
.main-ourequipment-list,
.footer-clients-list,
.clients-sublist {
  list-style: none;
}

.parallax1 {
  background-image: url(../img/header-bg.jpeg);
  background-attachment: fixed;
  margin: 0;
}

/* HEADER BAR */

.header-bar {
  width: 1460px;
  padding-top: 37px;
  margin: 0 auto;
  margin-bottom: 128px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-logo {
  margin-right: auto;
}
.header-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  margin-right: 39px;
}
.header-phone > span {
  color: #d6af76;
}

.header-btn-callback {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 25px 10px 49px;
  text-decoration: none;
  position: relative;
}
.header-btn-callback::after {
  content: "";
  position: absolute;
  background-image: url(../img/Vector-phone.png);
  background-repeat: no-repeat;
  left: 24px;
  top: 19px;
  height: 13px;
  width: 13px;
}

/* -=MAIN=- */

/* SECTION SERVICE */

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.service-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 41px;
  margin-bottom: 41px;
}
.main-service-list {
  display: grid;
  grid-template-rows: 468px 468px;
  grid-template-columns: 467px 1fr 1fr 467px;
  padding: 0;
  row-gap: 27px;
}

.main-service-list-item {
  display: grid;

  justify-content: center;
  align-items: center;
  padding-left: 44px;
  padding-right: 43px;
  text-align: center;
}
.service1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #634f2c;
}
.service2 {
  grid-area: 1 / 2 / 2 / 4;
  margin-right: 25px;
  margin-left: 34px;
  background-color: #b4a385;
}
.service3 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: #e4b564;
}
.service4 {
  grid-area: 2 / 1 / 3 / 3;
  background-color: #635a4a;
  margin-right: 15px;
}
.service5 {
  grid-area: 2 / 3 / 3 / 5;
  margin-left: 15px;
  background-color: #b08c4d;
}

/* SECTION OUR EQUIPMENT */

.equipment-wrapper {
  padding-top: 161px;
}

.h2-ourequipment {
  display: inline-block;
  margin: 0;
  margin-bottom: 94px;
}

.main-ourequipment-list {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  height: 897px;
  margin-bottom: 191px;
}
.main-ourequipment-list-item {
  width: 32%;
  margin-bottom: 0.7%;
  display: inline-block;
  box-sizing: border-box;
}

.main-ourequipment-list::before,
.main-ourequipment-list::after {
  content: "";
  flex-basis: 100%;
  width: 2px;
  order: 2;
}

.equip-name {
  margin-top: 44px;
  margin-left: 48px;
}

.equip1,
.equip2,
.equip3,
.equip4,
.equip6,
.equip7 {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.equip1 {
  width: 467px;
  height: 313px;
  background-color: #0e0e0e;
  order: 1;
}
.equip2 {
  width: 467px;
  height: 439px;
  background-color: #242424;
  order: 2;
}
.equip3 {
  width: 467px;
  height: 255px;
  background-color: #1f1f1f;
  order: 3;
}
.equip4 {
  width: 467px;
  height: 560px;
  background-color: #1f1f1f;
  order: 1;
}
.equip5 {
  width: 467px;
  height: 405px;
  background-color: #e4b564;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  order: 2;
}
.equip6 {
  width: 467px;
  height: 313px;
  background-color: #0e0e0e;
  order: 3;
}
.equip7 {
  width: 467px;
  height: 277px;
  background-color: #0a0909;
  order: 3;
}

/* FOOTER */
.parallax2 {
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  height: 100%;
}
.footer-wrapper {
  display: flex;
  padding-top: 172px;
  padding-bottom: 239px;

  margin-bottom: ;
}
.section-footer-clients {
  margin: 0 auto;

  padding-left: 0;
}
.footer-panel {
  display: flex;
}
.h2-footer {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
}
.footer-btn-allprojects {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  border: 1px solid #e4b564;
  text-decoration: none;
  padding: 10px 40px;
}

.footer-clients-list {
  display: grid;
  grid-template-rows: 391px 391px;
  grid-template-columns: 487px 487px 487px;
  padding: 0;
  margin-top: 72px;
  margin-bottom: 0;
}
.footer-clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-sublist-item {
  padding: 0;
}
.f {
  display: inline-block;
}

.sublist-item-pointer {
  padding-top: 12px;
}
.clients-item1 {
  background-color: #634f2c;
}
.clients-item2 {
  background-color: rgba(232, 210, 171, 0.76);
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  padding: 16px 80px 12px 80px;
}
.clients-item3 {
  background-color: #e4b564;
}
.clients-item4 {
  background-color: #635a4a;
}
.clients-item5 {
  background-color: #b08c4d;
}
.clients-item6 {
  background-color: #634f2c;
}
