table {
  border: 30px solid #3a4965;
  border-bottom: 22px solid #3a4965;
  text-transform: uppercase;
  font-family: "Arimo";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
  text-align: center;
  vertical-align: middle;
}

td {
  vertical-align: middle;
}

tbody tr td {
  width: 14%;
  min-width: 160px;
}

td:nth-child(1) {
  width: 17.5%;
  min-width: 200px;
}

/* HEADER */

thead {
  border-bottom: 12px solid #3a4965;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 20px;
}

thead span {
  font-size: 14px;
}

thead td:nth-child(1) p {
  margin: 30px;
}

/* TBODY */

/* first column */

tbody td:nth-child(1) {
  color: #ffffff;
}

/* BACKGROUNDS */

thead td:nth-child(1) {
  background-color: #fafafa;
}

td:nth-child(odd) {
  background-color: #f2f2f2;
}

td:nth-child(even) {
  background-color: #e3e3e3;
}

tbody tr:nth-child(1) td:nth-child(1) {
  background-color: #89c331;
}

tbody tr:nth-child(2) td:nth-child(1) {
  background-color: #f04a56;
}

tbody tr:nth-child(3) td:nth-child(1) {
  background-color: #20807c;
}

/* first column STYLES */

.plan-name {
  font-family: "Arimo";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 25px;
  margin-bottom: 5px;
}

tbody td:nth-child(1) p:nth-child(2) {
  font-family: "Arimo";
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 10px;
}

tbody td:nth-child(1) p:nth-child(2) span {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  position: absolute;
  top: -11px;
}

tbody td:nth-child(1) p:nth-child(3) {
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}

/* BUTTON */

tbody td:nth-child(1) a p {
  display: inline-block;
  background-color: #414141;
  border-bottom: 5px solid #343434;
  border-radius: 10px;
  padding: 7px 35px 2px 35px;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

tbody td:nth-child(1) a {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 15px;
}

/* BODY BORDER */

tbody tr:nth-child(2) td:not(:nth-child(1)) {
  border-top: #d2d2d2 2px solid;
  border-bottom: #d2d2d2 2px solid;
}
