* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS */

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.woff2);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.woff2);
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "futura-bt-bold";
  src: url(../fonts/futura-bt-bold.woff2);
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url(../fonts/OpenSans-SemiBold.woff2);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url(../fonts/OpenSans-LightItalic.woff2);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-MediumItalic";
  src: url(../fonts/OpenSans-MediumItalic.woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #3e4c4e;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  font-family: "futura-bt-bold";
  font-size: 52px;
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 150px;
  padding-bottom: 135px;
  color: #ffffff;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #14afca;
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  padding-top: 150px;
}

h5 {
  text-align: center;
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  letter-spacing: 0.899999px;
}

/* WHITE SECTIONS BACKGROUND-COLOR */

.sect-why,
.sect-meetus,
footer {
  background-color: #fff;
}

/* SECTIONS PADDING-BOTTOM */

.sect-what,
.sect-companies,
.sect-meetus,
.sect-testimonials {
  padding-bottom: 100px;
}

/* HEADER */

.header-panel {
  display: flex;
  height: 113px;
  min-width: 100vw;
  background-color: #fff;
  align-items: center;
  padding: 40px 15%;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
  margin-top: 30px;
  position: relative;
  transform-style: inherit;
}

body::before {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 100vh;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s linear;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.company-name {
  font-family: Roboto-Light;
  color: #424f57;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}

.company-name span {
  font-family: roboto-black;
  color: #14afca;
  font-weight: 900;
}

.header-bar {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  padding-right: 20px;
}

.header-bar-link {
  padding-right: 30px;
  color: #3e4c4e;
}

.header-bar-link:hover {
  color: #14afca;
  transition: 0.5s;
}
/* MAIN */

/* SECTION WHAT? */

.sect-what {
  display: flex;
  flex-direction: column;
  color: #424f57;
  background: #ffffff;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
  position: relative;
}

.sect-what::before {
  content: "";
  width: 100%;
  height: 15%;
  position: absolute;
  top: -67px;
  left: 0;
  background: linear-gradient(to right bottom, transparent 49.5%, #fff 50%)
      right / 50.025% 100% no-repeat,
    linear-gradient(to left bottom, transparent 49.5%, #fff 50%) left / 50.025%
      100% no-repeat;
}

.sect-what::after {
  content: "";
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: -68px;
  left: 0;
  background: linear-gradient(to right top, transparent 49.5%, #fff 50%) left /
      50.025% 100% no-repeat,
    linear-gradient(to left top, transparent 49.5%, #fff 50%) right / 50.025%
      100% no-repeat;
}

.sect-what p {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* SECTION COMPANIES  */

.sect-companies h5 {
  color: #ffffff;
}

.companies-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15%;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
  column-gap: 30px;
}

.adobe {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* SECTION MEET US */

.sect-meetus {
  position: relative;
}
.sect-meetus::after {
  content: "";
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: -103px;
  left: 0;
  background: linear-gradient(to right top, transparent 49.5%, #fff 50%) left /
      50.025% 100% no-repeat,
    linear-gradient(to left top, transparent 49.5%, #fff 50%) right / 50.025%
      100% no-repeat;
}

.meetus-gallery {
  display: flex;
  padding: 0 15%;
}

.sect-meetus h5 {
  color: #424f57;
}

.meetus-gallery li {
  width: 310px;
  text-align: center;
  padding: 0 8px;
}

.meetus-gallery li > p {
  color: #424f57;
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

.picture {
  height: 206px;
  width: 207px;
  padding-bottom: 20px;
}

/* SECTION TESTIMONIALS */

.sect-testimonials h2 {
  padding-top: 205px;
}

.sect-testimonials h5 {
  color: #ffffff;
}

.sect-testimonials blockquote {
  padding: 0 17%;
  font-family: "OpenSans-LightItalic";
  font-weight: 300;
  color: #d3cccc;
  letter-spacing: 0.8px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.sect-testimonials cite {
  display: inherit;
  text-align: end;
  padding-right: 25%;
  padding-top: 20px;
  color: #ffffff;
  letter-spacing: 0.45px;
  font-family: "OpenSans-MediumItalic";
}

/* SECTION WHY */

.sect-why {
  position: relative;
}

.sect-why::before {
  content: "";
  width: 100%;
  height: 15%;
  position: absolute;
  top: -58px;
  left: 0;
  background: linear-gradient(to right bottom, transparent 49.5%, #fff 50%)
      right / 50.025% 100% no-repeat,
    linear-gradient(to left bottom, transparent 49.5%, #fff 50%) left / 50.025%
      100% no-repeat;
}

.sect-why h5 {
  color: #424f57;
}

.sect-why p {
  display: block;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;
  color: #424f57;
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.75px;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 100px 0 80px;
}

footer p {
  color: #3d3c3c;
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
}

footer p > span {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
