body {
  background-image: url(../img/background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.page-wrapper {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}
.header-nav-list {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 0;
  padding: 0;
}

.logo-link:hover  {
  filter: invert(51%) sepia(91%) saturate(3774%) hue-rotate(351deg) brightness(105%) contrast(90%);
  transition: 1s;
}
.email:hover  {
  color:#f26522 ;
  transition: 1s;
}

.phone:hover  {
  color:#f26522 ;
  transition: 1s;
}

.logo-link {
  display: flex;
  color: #ffffff;
}
.nav-contacts {
  width: min-content;
  text-align: end;
}
.email {
  display: block;
  margin-bottom: 19px;
  font-size: 18px;
  color: #ffffff;
}
.phone {
  color: #ffffff;
  font-size: 18px;
}
.logo-milan-holidays {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
}
.logo-span {
  font-weight: 700;
  font-size: 29px;
  line-height: 35px;
}
.logo-svg {
  padding-right: 5px;
}

/* MAIN  */

.main-section {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 220px 220px;
  justify-content: space-between;
  row-gap: 78px;
  column-gap: 62px;
  padding-top: 17px;
}

.main-item-link {
  background-size: inherit;
  position: relative;
}
.shoping-tours {
  background-image: url(../img/shopping-tours.png);
}

.sightseen {
  background-image: url(../img/sightseeng.png);
}

.foodtours {
  background-image: url(../img/food\ tours.png);
  background-size: cover;
}

.bars {
  background-image: url(../img/bars.png);
}

.art {
  background-image: url(../img/art.png);
}

.walk {
  background-image: url(../img/walk.png);
}
.content-item-description {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  bottom: -54px;
  left: 96px;
}
.item-hover-panel {
  color: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  background-color: transparent;
  position: absolute;
  bottom: -10px;
  z-index: -1;
}

.main-item-link:hover .item-hover-panel {
  transition: 1s;
  bottom: 0px;
  background-color: #f26522;
  color: #ffffff;
  z-index: 3;
}

.main-item-link:hover .content-item-description{
  color:#f26522 ;
  transition: 0.2s;
}

.panel-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 20px;
}
.panel-price > p {
  display: grid;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: transparent
  padding-left: 16px;
}


.panel-price > p > span {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  
}

.hover-panel-details {
  display: inline-block;
  margin-top: 29px;
  padding-right: 37px;
  position: relative;
  transition: 2s;
}

.hover-panel-details:hover{
  
 
  right: 16px;
  bottom: -22px;
  transition: 2s;
}

.hover-panel-details::after {
  content: "";
  width: 7px;
  height: 12px;
  background-image: url(../img/details_arrow.png);
  position: absolute;
  right: 16px;
  bottom: -6px;
}

footer {
  padding-top: 90px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
}
