table {
  border: 25px solid #3a4965;
  text-transform: uppercase;
  font-family: "Arimo", sans-serif;
}

td {
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid #d9d9d9;
}
.table tr {
  color: #484848;
}

/* TABLE HEADER */

thead {
  background-color: #fafafa;
  color: #484848;
}

.price {
  display: flex;
  align-items: center;
}

thead tr:nth-child(1) td {
  padding: 22px 0;
  border: none;
}

thead tr:nth-child(1) td:nth-child(1) {
  font-size: 18px;
  font-family: "Arimo";
  font-weight: 700;
  line-height: 28px;
  padding: 0 35px;
}

thead tr:nth-child(1) td:nth-child(1) span {
  font-size: 30px;
}

thead tr:nth-child(1) td:nth-child(2) {
  background-color: #89c331;
  color: #ffffff;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 24px;
  border-left: 2px solid #89c331;
}

thead tr:nth-child(1) td:nth-child(3) {
  background-color: #f04a56;
  color: #ffffff;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 30px;
}

thead tr:nth-child(1) td:nth-child(4) {
  background-color: #20807c;
  color: #ffffff;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 24px;
}

thead tr:nth-child(2) {
  font-family: "Arimo";
  font-size: 18px;
  align-content: center;
}

thead tr:nth-child(2) td:nth-child(1) {
  border-left: 2px solid #d9d9d9;
}

.price-cell-first {
  font-family: "Arimo";
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 22px 5px 20px 35px;
  height: 100%;
  position: relative;
  display: inline-block;
}

.price-cell-first::after {
  content: ".99";
  color: #484848;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  top: -10px;
}

.price-cell-second {
  display: inline-block;
  margin-right: 35px;
}

/* BODY */

tbody {
  font-family: "Arimo";
  font-weight: 400;
  color: #484848;
  font-size: 16px;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #e3e3e3;
}

tbody p {
  margin: 22px 0;
  display: inline-block;
}

/* ASIDE ICONS */

.aside-icon-size {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* FOOTER */

.foter-btn {
  color: #ffffff;
  background-color: #484848;
  border-radius: 5px;
  display: inline-block;
  margin: 30px auto;
  padding: 20px 58px 8px 58px;
}

tfoot td:nth-child(1) a {
  background-color: #484848;
  border-bottom: 9px solid #404040;
  padding: 20px 45px 8px 45px;
}

tfoot td:nth-child(even) {
  background-color: #eeeeee;
}

tfoot td:nth-child(2) a {
  background-color: #89c331;
  border-bottom: 9px solid #79b027;
}

tfoot td:nth-child(odd) {
  background-color: #f4f4f4;
}

tfoot td:nth-child(3) a {
  background-color: #f04a56;
  border-bottom: 9px solid #df3a46;
}

tfoot td:nth-child(4) a {
  background-color: #20807c;
  border-bottom: 9px solid #16736f;
}

/* FOOTER BTN HOVER */
tfoot td:nth-child(1):hover,
tfoot td:nth-child(2):hover,
tfoot td:nth-child(3):hover,
tfoot td:nth-child(4):hover {
  transition: 0.5s;
  background-color: #dddddd;
}
