/* FONTS */

@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../fonts/Ubuntu-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../fonts/Ubuntu-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

/*BODY*/

body {
  font-family: "Ubuntu-Regular";
  font-weight: 400;
  background-image: url(../img/Фон\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #ffffff;
}

/* HEADER */
.header-bar {
  height: 8vh;
  min-height: 58px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  position: relative;
}

.logo {
  font-family: "Ubuntu-Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin-left: 6%;
}

.login-area {
  padding-right: 6%;
  padding-left: 6%;
  display: flex;
  align-items: center;
}

.header-welcome {
  border-left: rgba(255, 255, 255, 0.5) solid 1px;
  padding-left: 27px;
}
/* ICONS */

.icon {
  display: block;
  fill: #ffffff;
  width: 21px;
  height: 24px;
  
}
.icon-link{
  margin-left: 25px;
}

.compass-icon {
  margin-right: 25px;
}

/* HEADER HOVER */

.icon:hover,
.logo:hover,
.header-login-link:hover,
.header-signup-link:hover,
.icon:focus,
.logo:focus,
.header-login-link:focus,
.header-signup-link:focus {
  color: #236d47;
  fill: #236d47;
  transition: 0.4s;
}

/* MAIN FORM */

.form-wrapper {
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(0, 4vh);
}

.form-wrapper::before {
  content: "";
  height: 18px;
  width: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
  top: 33px;
}

.main-form {
  display: inline-block;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 31px;
  padding-bottom: 38px;
}

/* FORM HEADER LINKS */

.form-links {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 18px 48px;
  column-gap: 8px;
  row-gap: 14px;
  color: #236d47;
}

.form-header-block {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.form-signup-descr {
  color: #434343;
  font-size: 20px;
  line-height: 20px;
  text-align: start;
}

.form-login-link a {
  color: #3cb878;
}
.form-login-link {
  text-align: end;
}
.login:focus,
.checkbox-link:focus {
  color: #01813f;
  transition: 0.4s;
  text-decoration: underline;
}

.form-login-link:hover a,
.checkbox-link:hover {
  color: #01813f;
  transition: 0.4s;
  text-decoration: underline;
}

/* FORM HEADER BUTTONS */

.fh-btn {
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  border-radius: 4px;
}
.btn-unit {
  display: flex;
  align-items: center;
  height: 28px;
  width: 110px;
  border-left: solid 1px rgba(43, 13, 9, 0.1);
  justify-content: center;
}

.facebook {
  background-color: #305db8;
}
.facebook:hover,
.facebook:focus {
  background-color: #022263;
  transition: 0.4s;
}
.facebook-icon {
  content: "";
  position: absolute;
  left: 14px;
}
.google {
  background-color: #df4a32;
}
.google:hover,
.google:focus {
  background-color: #ab1f09;
  transition: 0.4s;
}
.google-icon {
  content: "";
  position: absolute;
  left: 12px;
}

/* SEPARATOR */

.sep {
  display: block;
  text-align: center;
  padding-top: 31px;
  overflow: hidden;
  position: relative;
  color: #848484;
}

.sep::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  top: 41px;
  left: 178px;
}
.sep::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  top: 41px;
  right: 178px;
}

/* INPUTS */

.input {
  width: 100%;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-top: 15px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  box-sizing: border-box;
}
.input::placeholder {
  color: #bebebe;
}

.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: 0;
  outline-offset: 0;
}

/* CHECKBOX */

.checkbox {
  display: inline-block;
  color: #434343;
  font-family: Verdana;
  font-size: 14px;
  line-height: 14px;
  margin-top: 15px;
}

.checkbox-link {
  color: #3cb878;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-span {
  border: 1px solid #f2f2f2;
  font-size: 24pt;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 0.25em;
  margin: 11px 13px 8px 0px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

input[type="checkbox"]:checked + .checkbox-span::after {
  content: "\2714";
  color: #3cb878;
}

.submit-btn {
  width: 100%;
  height: 45px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #01813f;
  transition: 0.4s;
}
