.page-header {
  width: 1280px;
  padding: 0;
  margin-top: 63px;
  margin-left: auto;
  margin-right: auto;
}
.main-logo,
.header-list-item-link,
.aside-nav-item-link,
.footer-nav-item-link {
  text-decoration: none;
}
.main-logo {
  display: inline-block;
  padding: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #4bcaff;
  margin-bottom: 38px;
}
.logo-first-part {
  color: #000000;
}
.header-nav-list,
.aside-wrapper,
.footer-nav-list,
.main-image-wrapper,
.aside-image-wrapper {
  list-style: none;
  display: flex;
}
.header-nav-list {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.header-list-item {
  border-left: 1px #ffffff solid;
  padding: 26px 38px 19px 38px;
}
.header-list-item:last-child {
  border-right: 1px #ffffff solid;
}
.header-list-item:hover {
  background-color: #222f3a;
  transition: 0.5s;
}
.header-nav-box {
  background-color: #35444f;
  width: 1280px;
  height: 72px;
}
.header-list-item-link {
  color: #ffffff;
}
.main-wrapper {
  width: 1280px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.aside-wrapper {
  width: 344px;
  height: 395px;
  border: 1px solid #000000;
  margin-right: 52px;
}
.aside-nav {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.aside-nav-item {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 44px;
  margin: 0;
}

.aside-nav-item-link {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}
.aside-nav-item:hover {
  background-color: #dbdbdb;
  padding-left: 70px;
  transition: 0.5s;
}
.aside-nav-item:hover .aside-nav-item-link {
  color: #000000;
}
.main-image-wrapper {
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
  height: 529px;
  width: 885px;
}
.main-image:hover {
  transition: 1s;
  transform: scale(1.3);
}
.main-content-text {
  margin-top: 34px;
  margin-bottom: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.main-content-text:first-child {
  margin-top: 37px;
}
.aside-image-wrapper {
  margin-top: 48px;
}
.main-content-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 882px;
  margin-left: auto;
  margin-right: 0%;
}
.footer-nav-box {
  width: 1280px;
  height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
  margin-left: auto;
  margin-right: auto;
  margin-top: 54px;
  margin-bottom: 30px;
  padding: 0;
}
.footer-nav-list {
  padding: 0;
  height: 100%;
  align-items: center;
}
.copyright {
  display: inline-block;
  margin-top: 0;
  color: #010101;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-left: 135px;
}
.footer-nav-item-link {
  color: #0c1927;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin-left: 40px;
  display: inline-block;
}
.footer-nav-item-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  padding-bottom: 13px;
  padding-top: 13px;
  transition: 0.5s;
}
