.page-body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.header-container{
    background-color: rgba(0, 0, 0, 0.0001);;
}
.header-nav {
    text-align: center;
}

.header-nav, .slogan, .button-link  {
    text-transform: uppercase;
}
.header-menu-list {
    list-style: none;
}

.menu-item {
    display: inline-block;
    margin: 25.5px 72px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
}

.menu-item-link {
    text-decoration: none;
    color: #FF0000;
}

.main-img {
    width: 100%;
}

.main-content-wrapper {
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.slogan {
margin: 48px auto 38px auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
color: #373737;
}

.section-main-text {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
color: #373737;
}

.button-link {
    /* width: 105px; */
    height: 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    background-color: #FF0000;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 42.5px;
    padding-right: 43.5px;
}

.button-link-wrapper{
    margin: 66px auto 82px auto;
}
.page-footer{
    text-align: end;
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
}
.footer-copyright{
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-right: 105px;
    margin-bottom: 29px;
}