body {
  background-color: black;
  overflow: hidden;
  background-image: url(../img/starsky.jpeg);
  background-size: cover;
}

.content {
  color: rgb(251, 218, 53);
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 95%;
  transform: perspective(300px) rotateX(25deg);
  text-align: center;
}

.content::after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}

.wrapper {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  0% {
    top: 92%;
  }
  100% {
    top: 30%;
  }
}
